html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonial-grid-container {
  display: flex;
  flex-direction: column;
  padding: 5% 3%;
  max-width: 375px;
}

#testimonial-1 {
  background-color: #7541c8;
  color: #ffffff;
  position: relative;
}

#testimonial-2 {
  background-color: #48556a;
  color: #ffffff;
}

#testimonial-3 {
  background-color: #ffffff;
  color: #48556a;
}

#testimonial-4 {
  background-color: #19212e;
  color: #ffffff;
  font-weight: 600;
}

#testimonial-5 {
  background-color: #ffffff;
  color: #48556a;
}

.grid-item {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.grid-item p {
  opacity: 70%;
  line-height: 150%;
}

.header .name {
  opacity: 100%;
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  display: flex;
  align-items: center;
}

h2,
.header {
  position: relative;
  z-index: 3;
}

h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.header-txt p {
  margin: 0;
}

.header img {
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #7541c8;
}

#quote {
  position: absolute;
  right: 15%;
  top: 0;
  z-index: 1;
}

@media (min-width: 576px) {
  #testimonial-grid-container {
    display: grid;
    margin: 0 auto;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-template-areas:
      "t1-alias t1-alias t2-alias t5-alias"
      "t3-alias t4-alias t4-alias t5-alias";
    column-gap: 30px;
    row-gap: 30px;
    max-width: 1440px;
  }

  #testimonial-1 {
    grid-area: t1-alias;
  }

  #testimonial-2 {
    grid-area: t2-alias;
  }

  #testimonial-3 {
    grid-area: t3-alias;
  }

  #testimonial-4 {
    grid-area: t4-alias;
  }

  #testimonial-5 {
    grid-area: t5-alias;
  }
}
